<!DOCTYPE html>
<html>
<head>
  <title>Seeks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/secrets">Secrets</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#">Link</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<% if current_user %>
						<form action='/sessions/<%= session[:id] %>' method='post'>
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
							<input type="submit" class="btn btn-danger" value="Log Out">
						</form>
					<% end %>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
